//=== element-ui-color ===
$color-primary: #1B6DE5;
$color-success: #13CE66;
$color-warning: #F7BA2A;
$color-danger: #FF4949;
$color-info: #878d99;

//=== fonts ====
$font-size-base: 14px;
$font-family-base: arial, sans-serif;

//== other ===
$line-height-base: 1.6;
$border-color: #e2e7eb;
$border-radius: 5px;

//=== colors ====
$text-color: #333; // 用于标题、正文
$text-color-secondary: #555; // 用于标题、次要文字
$text-color-third: #999; // 用于普通文字
$text-link-color: $color-primary;
